tensorflow==2.15.0
mujoco-py==2.1.2.14
Metaworld @ git+ssh://git@github.com/utiasSTARS/Metaworld.git@vpace#egg=Metaworld
D4RL @ git+ssh://git@github.com/utiasSTARS/D4RL.git@vpace#egg=D4RL
mjrl @ git+ssh://git@github.com/utiasSTARS/mjrl.git@vpace#egg=mjrl
gin-config==0.5